.sell-book-container {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  height: 93vh;
}

form .form-group {
  margin-bottom: 1.5rem;
}

form input,
form select {
  width: 100%;
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

form button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 4px;
}
