<div class="auth-container">
  <div class="form-container">
    <img src="non-fictional.jpg" alt="BookStore Logo" class="logo" />
    <h2>Forgot Password</h2>
    <p>Enter your email to receive reset instructions</p>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          placeholder="Enter your email"
        />
        <div
          *ngIf="f['email'].invalid && (f['email'].touched || submitted)"
          class="error"
        >
          <div *ngIf="f['email'].errors && f['email'].errors['required']">
            Email is required.
          </div>
          <div *ngIf="f['email'].errors && f['email'].errors['email']">
            Enter a valid email.
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="forgotForm.invalid || loading">
        Send Reset Link
      </button>
    </form>

    <div *ngIf="message" class="message">{{ message }}</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <button class="toggle" (click)="backToLogin()">← Back to Login</button>
  </div>
</div>

<app-loader *ngIf="loading"></app-loader>
