<app-header></app-header>
<div class="page-container d-flex flex-column min-vh-100">
  <div class="main-container d-flex flex-grow-1">
    <!-- Filter Section -->
    <aside class="filter-container">
      <h3>Categories</h3>
      <ul>
        <li *ngFor="let category of categories">
          <input
            type="checkbox"
            id="category-{{ category._id }}"
            [checked]="isCategorySelected(category._id)"
            (change)="toggleCategory(category._id, $event)"
          />
          <label for="category-{{ category._id }}">{{ category.name }}</label>
        </li>
      </ul>
    </aside>

    <!-- Main Content -->
    <div class="content-container flex-grow-1">
      <!-- Search Bar -->
      <div class="search-bar">
        <input
          type="text"
          class="form-control"
          placeholder="Search books by name..."
          [(ngModel)]="searchQuery"
          (input)="searchBooks()"
        />
      </div>

      <div class="d-flex justify-content-center mb-3">
        <ul class="nav nav-pills w-50">
          <li style="cursor: pointer" class="nav-item w-50">
            <a
              class="nav-link text-center w-100"
              [class.active]="types"
              (click)="toggleTab('all')"
              >All Books</a
            >
          </li>
          <li style="cursor: pointer" class="nav-item w-50">
            <a
              class="nav-link text-center w-100"
              [class.active]="!types"
              (click)="toggleTab('owned')"
              >Owned Books</a
            >
          </li>
        </ul>
      </div>
      <!-- Books Section -->
      <div class="row g-4 books-container">
        <p
          style="
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            margin-top: 35vh;
          "
          *ngIf="filteredBooks.length === 0"
        >
          No Books available :(<br />
          Buy Some.
        </p>
        <div class="col-md-2" *ngFor="let book of filteredBooks">
          <div class="card h-100">
            <img
              [src]="book?.bookCoverImage"
              alt="{{ book.title }}"
              class="card-img-top"
              style="width: 260px; height: 300px; object-fit: cover"
            />
            <div class="card-body">
              <h5 class="card-title">{{ book?.title }}</h5>
              <p class="card-text">Author: {{ book?.author }}</p>
              <p class="card-text">
                <strong>Price:</strong>
                {{
                  book?.price
                    ? book?.price + " PKR"
                    : book?.pointsSpent / 4 + " PKR"
                }}
              </p>
              <div class="rating">
                <span *ngFor="let star of getStars(book?.rating)">
                  <i class="fas fa-star"></i>
                </span>
                <span *ngIf="book?.rating < 5">
                  <i class="far fa-star"></i>
                </span>
              </div>
              <button
                (click)="readBuy(types, book)"
                class="btn btn-primary w-100"
              >
                {{ types ? "Buy" : "Read" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
