.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 70px;
}

.main-container {
  display: flex;
  flex-grow: 1;
}

app-footer {
  margin-top: auto;
  color: #fff;
  text-align: center;
}

.filter-container {
  width: 250px;
  padding: 1rem;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
}

.filter-container ul {
  list-style: none;
  padding: 0;
}

.filter-container li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0;
}

.filter-container input[type="checkbox"] {
  cursor: pointer;
}

.filter-container li:hover label {
  color: #007bff;
}

.content-container {
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
}

.search-bar {
  margin-bottom: 1rem;
  margin-left: 250px;
  width: 40%;
}

.books-container .card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.books-container .card img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.books-container .rating i {
  color: #ffc107;
}
